body {
  background-color: #af9;
}
* {
  font-family: cursive;
  margin: 5px;
}

button {
  margin: 3px;
  background-image: radial-gradient(#ffd95dbb, #e0bc6e42);
  border-radius: 2px;
  border: groove #e0bc6ea9 4px;
  padding: 10px;
}

#pistas {
  border: #df0 outset 4px;
  border-radius: 8px;
  background-color: #efa;
  max-width: 33%;
}

q {
  color: #e6d575;
  background-color: #000;
}

q:hover {
  background-color: #e6d575;
  color: #000;
}

img {
  padding: 5px;
}

img:hover {
  border: solid #fa0 2px;
  filter: blur(3px);
}
