body {
  background-color: #101010;
  color: #dfdfdf;
}

* {
  font-family: monospace;
  margin: 5px;
}

button {
  margin: 3px;
  background-color: #26262e;
  color: #d1d1ee;
  border: dashed #ccc 4px;
  border-radius: 8px;
  padding: 10px;
}

#pistas {
  border: #160057 outset 4px;
  border-radius: 8px;
  background-color: #6f1fdf;
  max-width: 33%;
}

q {
  background-color: #141212;
  color: #d8c7c7;
}

q:hover {
  background-color: #d8c7c7;
  color: #141212;
}

img {
  padding: 5px;
}

img:hover {
  border: solid #fa0 2px;
  filter: invert();
}
