body {
  background-color: #dfdfdf;
  color: #101010;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}

button {
  margin: 3px;
  background-color: #bee;
  border: ridge #055 4px;
  border-radius: 8px;
  padding: 10px;
}

#pistas {
  border: #0ee outset 4px;
  border-radius: 8px;
  background-color: #8fd;
  max-width: 33%;
}

q {
  background-color: #d8c3c3;
  color: #1d1919;
}

q:hover {
  background-color: #1d1919;
  color: #d8c3c3;
}

img {
  padding: 5px;
}

img:hover {
  border: solid #fa0 2px;
  filter: sepia(100%);
}
