body {
  background-color: #fe9;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
}

button {
  margin: 3px;
  background-color: #e67575;
  border-radius: 8px;
  border: solid #88061e 4px;
  padding: 10px;
}

#pistas {
  border: #ec0 outset 4px;
  border-radius: 8px;
  background-color: #fd8;
  max-width: 33%;
}

q {
  color: #e67575;
  background-color: #000;
}

q:hover {
  background-color: #e67575;
  color: #000;
}

img {
  padding: 5px;
}

img:hover {
  border: solid #fa0 2px;
  filter: hue-rotate(90deg);
}
