body {
  background-image: radial-gradient(#0ff, #ce7fceb6);
}

* {
  font-family: monospace;
  margin: 5px;
}

button {
  margin: 3px;
  background-color: #9adb9a;
  border-radius: 8px;
  border: outset #562 4px;
  padding: 10px;
}

#pistas {
  border: #30f outset 4px;
  border-radius: 8px;
  background-color: #c8f;
  max-width: 33%;
}

q {
  color: #67bfe6;
  background-color: #000;
}

q:hover {
  color: #000;
  background-color: #67bfe6;
}

img {
  padding: 5px;
}

img:hover {
  border: solid #fa0 2px;
  filter: contrast(135%);
}
