body {
  background-image: radial-gradient(#00ffff, #ce7fceb6);
}

* {
  font-family: monospace;
}

button {
  margin: 3px;
  background-color: #9adb9a;
  border-radius: 8px;
  border: solid #562 4px;
  padding: 10px;
}

q {
  color: #67bfe6;
  background-color: #000;
}

q:hover {
  color: #000;
  background-color: #67bfe6;
}

img {
  margin: 5px;
}

img:hover {
  border: solid #ffaa00 2px;
  filter: contrast(135%);
}